@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@621&display=swap");

.name{background-image: url(deitado.jpg);
  color: #37979b;
  font-family: catamaran;
  font-size: 1em;
  padding: 10%;
  border-style: none;
  text-align: center;
}
#image{
  background-color: #ff00ff;
  display: inline-block;
  margin-top: 10em;
  float: left;
}
#description{
  background-color: rgb(8, 140, 192);
  box-shadow: #ff00ff;
  margin-top: 10em ;
}
h2{
    color: #37979b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.indice{
  margin-top: 400px;
}
