@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@621&display=swap");
.name{
  background-image: url(deitado.jpg);
  color: #37979b;
  font-family: Catamaran;
  font-size: 1em;
  padding: 10%;
  text-align: center;
  display: block; margin: auto;
}
#image{

  border: 1px solid black;
  display: inline-block;
  float: left;
  align: center;
}
#description{
  text-align: center;
  border: 1px solid black;
  
}
h2{
  color: #37979b;
  border: 1px solid black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.indice{
  border: 1px solid black;
  margin-top: 400px;

}